OPENAI_API_KEY=sk-your-openai-key-here
ELEVENLABS_API_KEY=your-elevenlabs-key-here
GOOGLE_APPLICATION_CREDENTIALS=google_key.json
EL_NIGERIAN_MALE=pNInz6obpgDQGcFmaJgB
EL_NIGERIAN_FEMALE=EXAVITQu4vr4xnSDxMaL
EL_KENYAN_MALE=VR6AewLTigWG4xSOukaG
EL_KENYAN_FEMALE=pFZP5JQG7iQjIQuC4Bku
EL_BRITISH_MALE=onwK4e9ZLuTAKqWW03F9
EL_BRITISH_FEMALE=MF3mGyEYCl7XYWbV9V6O
EL_AMERICAN_MALE=ErXwobaYiN019PkySvjV
EL_AMERICAN_FEMALE=ThT5KcBeYPX3keUQqHPh
